body {
  margin: 0;
  padding: 0;
  font-family: 'Halant', serif;
}
ul {
  padding: 0;
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
nav h1 {
  order: 1;
  flex: 4;
  font-size: 40px;
  margin: 0 6% 0 2%;
  text-align: right;
  white-space: nowrap;
}
nav ul {
  order: 0;
  flex: 5;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  margin: 0 4%;
  font-size: 18px;
}
.main {
  height: 120vh;
  padding-top: 83px;
  opacity: 0;
}
.mobile {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
}
.mobile h1 {
  font-size: 40px;
  margin: 0;
  margin-right: 2%;
}
.mobile ion-icon {
  font-size: 40px;
  margin: auto 2%;
}
.mobile-drpdwn {
  opacity: 1;
  position: fixed;
  top: 83px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 83px);
}
.mobile-drpdwn ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
  font-size: 40px;
}
.mobile-drpdwn li {
  padding: 2% 20%;
  min-width: 50%;
  display: flex;
  justify-content: space-around;
}
#drop-icons {
  font-size: 50px;
  min-width: 75%;
  min-height: 63px;
}
.mobile-drpdwn a{
  display: contents;
}
.mobile-drpdwn ion-icon{
  margin: auto 0;
}
.linkedin:hover {
  color: #0a66c2;
}
.mail:hover {
  color: #DB4437;
}
.github:hover {
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
}
@media screen and (max-width: 715px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
