/* Credit for colorblind colors: https://davidmathlogic.com/colorblind/#%23005AB5-%23DC3220 */

/***********************/
/* Browser reset stuff */
/***********************/
body, p {
  margin: 0;
  padding: 0;
  font-family: 'Halant', serif;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
/*******************/
/* Desktop nav bar */
/*******************/
nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: white;
}
nav h1 {
  order: 1;
  flex: 4;
  font-size: 40px;
  margin: 0 6% 0 2%;
  text-align: right;
  white-space: nowrap;
}
nav ul {
  order: 0;
  flex: 5;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  margin: 0 4%;
  font-size: 18px;
}
/****************/
/* Home content */
/****************/
.main {
  padding-top: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  max-width: 75%;
  padding: 30px 0;
}
article img {
  flex: 1;
  border-radius: 30px 0 0 30px;
  object-fit: cover;
  max-width: 50%
}
.main p {
  flex: 1;
  padding: 5%;
  border-style: solid;
  border-left-style: none;
  border-width: thin;
  border-radius: 0 30px 30px 0;
}
/******************/
/* Resume content */
/******************/
.resume {
  padding-top: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  max-width: 75%;
  padding: 30px 0;
}
.resume div{
  flex: 1;
  padding: 5%;
  border-style: solid;
  border-width: thin;
  border-radius: 30px;
}
.resume h3,h4,h5 {
  margin: 0;
  padding: 0;
}
.resume ul {
  padding-left: 40px;
  margin: 0 0 1em 0;
  list-style-type: disc;
}
#resume ion-icon {
  font-size: 30px;
}
#resume ion-icon:hover {
  color: #DC3220;
  transform: scale(1.1);
}
/******************/
/* Carousel specific */
/******************/
.carousel {
  padding-top: 83px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carousel-hide {
  display: none;
}
.carousel ion-icon {
  font-size: 40px;
}
.carousel ion-icon:hover {
  color: #DC3220;
  transform: scale(1.1);
}
.carousel article {
  width: 90%;
  height: 550px;
}
.carousel div {
  flex: 1;
  padding: 5%;
  border-style: solid;
  border-left-style: none;
  border-width: thin;
  border-radius: 0 30px 30px 0;
}
#cyoa {
  object-position: left;
}
/******************/
/* Mobile nav bar */
/******************/
.mobile {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  background-color: white;
}
.mobile h1 {
  font-size: 40px;
  margin: 0;
  margin-right: 2%;
}
.mobile ion-icon {
  font-size: 40px;
  margin: auto 2%;
}
.mobile-drpdwn {
  display: none;
  position: fixed;
  background-color: white;
  top: 83px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 83px);
}
.mobile-drpdwn ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
  font-size: 40px;
}
.mobile-drpdwn li {
  padding: 2% 20%;
  min-width: 50%;
  display: flex;
  justify-content: space-around;
}
#drop-icons {
  font-size: 50px;
  min-width: 75%;
  min-height: 63px;
}
.mobile-drpdwn a{
  display: contents;
  min-width: 60px;
}
.mobile-drpdwn ion-icon{
  margin: auto 0;
}
/*****************/
/* Nav hover styling */
/*****************/
.current-page {
  color:#005AB5;
  transform: none;
}
.desktop li:hover {
  color: #DC3220;
  transform: scale(1.1);
}
.mobile-drpdwn li:hover {
  color: #DC3220;
  transform: scale(1.1);
}

#drop-icons {
  color: black;
  transform: none;
}
.linkedin:hover {
  color: #0a66c2;
  transform: scale(1.2);
}
.mail:hover {
  color: #DB4437;
  transform: scale(1.2);
}
.github:hover {
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  transform: scale(1.1);
}
@media screen and (max-width: 715px) {
  .desktop {
    display: none;
  }
  .unhide {
    display: block;
  }
  .hide {
    display: none;
  }
  .main {
    background-image: url(https://imgur.com/MuTjX2P.jpg);
    background-size: cover;
    color: white;
    min-height: calc(100vh - 83px);
  }
  article {
    max-width: 100%;
    padding: 5%;
  }
  .main p {
    padding: 5%;
    border-radius: 30px;
    border-left-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .mobile {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .carousel-previous {
    display: none;
  }
  .carousel-next {
    display: none;
  }
  .carousel-hide {
    display: flex !important;
  }
  .carousel {
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 344px) {
  .mobile h1 {
    font-size: 30px;
    margin: 0;
    margin-right: 2%;
  }
}
